@layer base {
    body {
        
        background-repeat: repeat;
        background-position: center center;
    }
    .container {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 30px;
    }
}
